//FONT
$font: 'Helvatica', sans-serif;
$size: 22px;

//COLOR
$white: white;
$main-color: aliceblue;
$second-color: rgb(107, 101, 194);
$background-color: rgb(85, 81, 194);
$background-color-second: rgb(59, 57, 133);
$background-color-third: rgb(52, 69, 168);