* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  font-size: 22px;
  font-family: "Helvatica", sans-serif;
}

#body-game-list {
  overflow-x: hidden;
}
#body-game-list main {
  display: flex;
  flex-direction: row;
}
#body-game-list main #menu-aside {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 150px;
  width: 15%;
  height: 100vh;
  padding: 100px 30px;
  background-color: rgb(52, 69, 168);
}
#body-game-list main #menu-aside h3,
#body-game-list main #menu-aside p {
  padding: 5px;
  color: aliceblue;
}
#body-game-list main #main-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
#body-game-list main #main-section #second-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0px 50px 50px;
  background-color: rgb(85, 81, 194);
}
#body-game-list main #main-section #second-header #search {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#body-game-list main #main-section #second-header #search input {
  width: 50%;
  height: 40px;
  padding-left: 20px;
  border: none;
  border-radius: 25px 0 0 25px;
  background-color: aliceblue;
}
#body-game-list main #main-section #second-header #search button {
  display: flex;
  padding: 8px 25px;
  border: none;
  border-radius: 0 25px 25px 0;
  color: white;
  background-color: rgb(107, 101, 194);
  cursor: pointer;
  transition: 0.6s;
}
#body-game-list main #main-section #second-header #search button:hover {
  background-color: aliceblue;
}
#body-game-list main #main-section #second-header #filtre {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
}
#body-game-list main #main-section #second-header #filtre select {
  padding: 6px;
  border-radius: 10px;
  background-color: aliceblue;
  cursor: pointer;
}
#body-game-list main #main-section #second-header #filtre label {
  color: white;
  margin-right: 10px;
}
#body-game-list main #game-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 50px 0;
  background-color: rgb(59, 57, 133);
}
#body-game-list main #game-section .game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  padding: 10px;
  border-radius: 25px;
  background-color: aliceblue;
  box-shadow: 0px 5px 5px rgb(85, 81, 194);
  cursor: pointer;
}
#body-game-list main #game-section .game .game-img {
  margin-top: 15px;
  width: 70%;
  border-radius: 10px;
}
#body-game-list main #details-game-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 0;
  background-color: aliceblue;
}
#body-game-list main #details-game-section .gameFiche {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
#body-game-list main #details-game-section .gameFiche h2 {
  display: flex;
  align-items: center;
  font-size: 30px;
  width: 96.2%;
  padding: 50px 30px;
  color: white;
  background-color: rgb(85, 81, 194);
}
#body-game-list main #details-game-section .gameFiche .galery {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 650px;
  padding: 30px;
}
#body-game-list main #details-game-section .gameFiche .galery img {
  width: 70%;
  height: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
#body-game-list main #details-game-section .gameFiche #details-game-info {
  display: flex;
  flex-direction: row;
}
#body-game-list main #details-game-section .cta {
  padding: 10px 25px;
  border-radius: 10px;
  color: white;
  background-color: rgb(107, 101, 194);
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */